includes:
- ./vendor/nunomaduro/larastan/extension.neon
parameters:
  level: 8
  paths:
  - app
  - database/factories
  - database/seeds
  - tests
  ignoreErrors:
  - message: '#Variable \$factory might not be defined#'
    path: database/factories
